* {
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    font-family: sans-serif;
}

/***********Header Section Start *************/
header{
    width: 100%;
    float: left;
}
.navbar-brand{
    width: 25%;
    float: left;
}
.navbar-brand-img{
    height: 30px;
    width: 190px;
    margin: 5px;
/*    transition: 0.4s ease;
    -moz-transition:0.4s ease ;
    -webkit-transition: 0.4s ease;*/
}
.navbar-brand-img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.navbar{
    width: 50%;
    float: left;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
nav ul li a{
    text-decoration: none;
    color: #000000b8;
    transition: 0.4s ease;
    -moz-transition:0.4s ease ;
    -webkit-transition: 0.4s ease;
}
nav ul li a:hover{
    border-bottom: 2px solid #057c8838;
    color: #057c8894;
}
.navbar-social-icon{
    width: 25%;
    float: left;
}

.navbar-social-icon .fa{
    margin-left: 10px;
    padding: 4px 8px;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 8px;
    transition: 0.4s ease;
    -moz-transition:0.4s ease ;
    -webkit-transition: 0.4s ease;
}
.navbar-social-icon .fa:hover{
    color: #000;
    background-color: white;
}
.fa.fa-facebook{
    background-color: #3b5998;
}
.fa.fa-twitter{
    background-color: #00acee;
}
.fa.fa-linkedin{
    background-color: #0e76a8;
}
.fa.fa-google-plus{
    background-color: #dd4b39;
}
.fa.fa-sign-in{
    color: #0e76a8;
}


/***********Header Section End ***************/


/***********Carousel Section Start************/
.carousel{
    background-image: url(../images/carousel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    padding: 5% 0;
}
.carousel-info{
    width: 40%;
    float: left;
    text-align: center;
    background-color: #fafffd87;
    padding: 80px 0;
    border-radius: 10px;
}
.carousel-info h1{
    font-size: 3em;
    font-family: serif;
    text-transform: uppercase;
}

/***********Carousel Section End**************/

/***********Button Common Design Start********/
.btn{
    background-color: #338203;
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    margin: 15px 10px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.btn:hover{
    border-radius: 20px;
    background-color: #0ea81394;
}
.btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-family: serif;
    font-size: 1.2em;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.btn a:hover {
    color: #7a0923;
}
/***********Button Common Design End*********/


/***********Service Section Start*************/
.service{
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
.service .fa{
    border-radius: 50%;
    color: #ffffff;
    font-size: 2em;
    padding: 20px;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
}
.service .fa:hover{
    transform: scale(1.3);
    color: #7a0923;
}
.fa.fa-check{
    background-color: #6874e4;
}
.fa.fa-map-marker{
    background-color: #009587;
    padding: 20px 26px;
}
.fa.fa-money{
    background-color: #41b644;
}
.fa.fa-user-plus{
    background-color: #94e86e;
}
.service h3{
    font-family: serif;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.service-concept{
    width: 25%;
    float: left;
}

.service-local{
    width: 25%;
    float: left;
}
.service-financing{
    width: 25%;
    float: left;
}
.service-sign-up{
    width: 25%;
    float: left;
}
.btn-read-more{
    font-size: 0.7em!important;
}
/***********Service Section End***************/

/***********Service Section Start*************/
/***********Service Section End***************/

/***********Service Section Start*************/
/***********Service Section End***************/

/***********Service Section Start*************/
/***********Service Section End***************/
